# Production context: All deploys to the main
# repository branch will inherit these settings.
[context.production]
 command = "make"
 publish = "public/"

 [context.deploy-preview]
  command = "make netlify"
  publish = "public/"

[context.production.environment]
   HUGO_VERSION = "0.54.0"

[context.deploy-preview.environment]
  HUGO_VERSION = "0.54.0"

[context.branch-deploy.environment]
HUGO_VERSION = "0.54.0"
