{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

{{ $speaker := .Param "speaker" }}
{{ $speakerfile := printf "%s/%s" "speakers" $speaker }}
{{ $room := .Param "Room" }}
{{ $roomfile := printf "%s/%s" "rooms" $room }}
{{ $event := .File.Dir }}
{{ $event := substr $event 9 }}
{{ $event := strings.TrimSuffix "/" $event }}
{{ $eventdatefile := printf "%s/%s" "events" $event }}

<section id="talk">
	<div id="talk">
		<h1>{{ .Title }}</h1>
		<h2>{{ with .Site.GetPage $speakerfile }}<a href="{{ $speakerfile | relURL }}">{{ .Title }}</a>{{ if isset .Params "twitter" }} <span style="font-size: 1em;"><a href="https://twitter.com/{{ .Param "twitter" }}"><i class="fab fa-twitter"></i> @{{ .Param "twitter" }}</a></span> {{ end }}{{ if isset .Params "github" }}<a href="https://github.com/{{ .Param "github" }}"><i class="fab fa-github"></i> {{ .Param "github" }}</a>{{ end }}{{ end }}</h2>
		<h3>
		{{ with .Site.GetPage $roomfile }}<a href="{{ .Permalink }}">{{ .Param "code" }}</a>{{ end }}
		-
		{{ with .Site.GetPage $eventdatefile }}
			{{ $eventdate := .Param "eventdate" }}
			{{ dateFormat "Monday, January 2, 2006" $eventdate }}
		{{ end }}
		-
		{{ .Param "Start" }} &rarr; {{ .Param "End" }}
		</h3>
		<div class="event-info">
			{{ .Content }}
		</div>
		{{ if isset .Params "slides" }}
		{{ $slides := .Param "slides" }}
		{{ $slidesurl := .Param "slides" }}
		{{ $slidesprefix := substr $slides 0 5 }}
		{{ $slidessuffix := split $slides "." }}
		{{ $slidestypesize := int (sub (len $slidessuffix) 1) }}
		{{ $slidestype := index $slidessuffix $slidestypesize }}
		{{ if eq $slidesprefix "https" }}
			{{ $slidesurl = $slides }}
		{{ else }}
			{{ $slidesurl = printf "%s/%s" "https://assets.gsebelux.eu" $slides }}
		{{ end }}
		<div class="slides">
			{{ if eq $slidestype "pdf" }}
			<object data="{{ $slidesurl }}" type="application/pdf">
				<embed src="{{ $slidesurl }}" type="application/pdf">
				<p>This browser does not support PDFs. Please download the PDF to view it.</p>
				</embed>
			</object>
			<br>
			{{ end }}
			<a href="{{ $slidesurl }}"><i class="fa fa-download"></i> Download</a>
		</div>
		{{ end }}
		{{ with .Site.GetPage $speakerfile }}
		<div class="event-speaker">
			<h2>Speaker Info</h2>
			{{ if isset .Params "image" }}
				{{ $image := .Param "image" }}
				{{ $imageurl := urls.Parse $image }}
				{{ if eq $imageurl.Scheme "https" }}
					<img src="{{ $image }}" alt="{{ .Title }}">
				{{ else }}
					{{ $imagelocation := (printf "%s/%s" "images/speakers/" $image) }}
					{{ $imageresource := resources.Get $imagelocation }}
					{{ $imagefile := $imageresource.Fit "400x400" }}
					<img src="{{ $imagefile.RelPermalink }}" alt="{{ .Title }}">
				{{ end }}
			{{ end }}
			{{ .Content }}
		</div>
		{{ end }}
		{{ if isset .Params "youtube" }}
			{{ $youtubeurl := "www.youtube-nocookie.com" }}
			{{ $youtubeid := .Param "youtube" }}
			<div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
				<iframe src="https://{{ $youtubeurl }}/embed/{{ $youtubeid }}?autoplay=0" allowfullscreen title="{{ .Title }}"></iframe>
			</div>
		{{ end }}
	</div>
</section>

{{ partial "footer.html" . }}
